/* custom.css */
@media (min-width: 992px) {
    p {
        font-size: 0.75rem;
        margin: 0 0 0 0;
    }
    a {
        font-size: 0.6rem;
    }
    .more-info {
        font-size: 0.6rem;
    }
    h3.card-title {
        font-size: 0.95rem;
    }
}
