@page "/studentCoursesInfo"
@using System.Collections;
@using CsvHelper;
@using System.Globalization;
@using CsvHelper.Configuration;
@using FeedbackFocus.Components.FileParsing
@using FeedbackFocus.Models;
@using Microsoft.VisualBasic.FileIO;
@using BlazorBootstrap


@inject FeedbackFocus.Services.StudentDashboardService _studentDashboardService;


<div class="d-flex align-items-center">
    <button class="btn" onclick="window.history.back();">
        <span class="oi oi-arrow-thick-left" aria-hidden="true"></span>
    </button>
    <h3 class="mb-0 ml-2">Student Feedback Data</h3>
</div>

        <BlazorBootstrap.Grid TItem="Course"
                      Class="table table-hover table-bordered table-striped"
                      Data="@_studentDashboardService.CourseData"
                      AllowFiltering="false"
                      AllowPaging="false"
                      AllowSorting="true"
                      AllowSelection="false"
                      Responsive="true">
    <GridColumns>
        <GridColumn TItem="Course" HeaderText="Course" PropertyName="Name" SortKeySelector="item => item.Name">
            @context.Name
        </GridColumn>
        <GridColumn TItem="Course" HeaderText="Year" PropertyName="Year" SortKeySelector="item => item.Year">
            @context.Year
        </GridColumn>
        <GridColumn TItem="Course" HeaderText="Semester" PropertyName="Semester" SortKeySelector="item => item.Semester">
            @context.Semester
        </GridColumn>
    </GridColumns>
</BlazorBootstrap.Grid>










@code {
    public bool ShowBackdrop = false;
    bool analysis = false;
    [Parameter]
    public string AssessmentId { get; set; }
    public string ModalDisplay = "none;";
    public string ModalClass = "";
    List<FeedbackItem> lstItems = new();
    List<AnalysisItem> lstAnalysis = new();
    private FeedbackItem? currentFeedbackItem = null;
    private FeedbackFocus.Components.AddFeedbackItemModal Modal { get; set; }
    private FeedbackFocus.Components.EditFeedbackItemModal EditModal { get; set; }




    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
        StateHasChanged();
    }
}
