<div class="@graphStyles shadow-sm">
    <div class="position-relative">
       
        <div class="loader"></div>
</div>
</div>
@code {
    private bool fullScreen = false;
    private string graphStyles = CSSStyles.graphStyles;
    string styles = "";

}





@code {

}


